parameters:
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Call to an undefined method Laminas\\View\\Renderer\\RendererInterface::getRole#'